# Siemplify API Configuration
SIEMPLIFY_HOSTNAME=your_siemplify_hostname.com
SIEMPLIFY_APP_KEY=your_siemplify_app_key

# Google Chronicle API Configuration
CHRONICLE_REGION=your_chronicle_region
CHRONICLE_PROJECT=your_gcp_project_id
CHRONICLE_LOCATION=your_gcp_location
CHRONICLE_INSTANCE=your_chronicle_instance_id